<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> -->
    <title>Edit Recipe</title>
</head>

<body>
    <h1>Edit Recipe</h1>
    <a href="/dashboard">Dasboard</a>
    <a href="/logout">Logout</a>
    <form action="/update_recipe/{{ recipe.id }}" method="post">
        <label for="name">Name:</label>
        <input type="text" name="name" value="{{ recipe.name }}">
        <label for="description">Description:</label>
        <input type="text" name="description" value="{{ recipe.description }}">
        <label for="instructions">Instructions</label>
        <input type="text" name="instructions" value="{{ recipe.instructions }}">
        <label for="date">Date Made On:</label>
        <input type="date" name="date" value="{{ recipe.date }}">
        <label for="">Under 30 Minutes?</label>
        <input type="radio" name="thirty_minutes" value="1" id="yes" checked>
        <label for="yes">Yes</label>
        <input type="radio" name="thirty_minutes" value="0" id="no">
        <label for="no">No</label>
        <button type="submit">Update</button>
    </form>
</body>

</html>