<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> -->
    <title>Recipe</title>
</head>
<body>
    <h1>Welcome {{ user.first_name }}!</h1>
    <a href="/dashboard">Dashboard</a>
    <a href="/logout">Logout</a>
    <h1>{{ recipe.name }}</h1>
    <table>
        <tr>
            <th>Description:</th>
            <td>{{ recipe.description }}</td>
        </tr>
        <tr>
            <th>Under 30 minutes?:</th>
            {% if recipe.thirty_minutes == 1 %}
                <td>Yes</td>
            {% else %}
                <td>No</td>
            {% endif %}
        </tr>
        <tr>
            <th>Instructions:</th>
            <td>
                {{ recipe.instructions }}
            </td>
        </tr>
        <tr>
            <th>Date Made:</th>
            <td>{{ recipe.date }}</td>
        </tr>
    </table>
</body>
</html>